.question{
    width: 500px;
    
    -webkit-box-shadow: 0px 5px 35px 23px rgba(111, 129, 142, 0.2);
    -moz-box-shadow: 0px 5px 35px 23px rgba(111, 129, 142, 0.2);
    box-shadow: 0px 5px 35px 23px rgba(111, 129, 142, 0.2);
    padding: 10px;
    margin: 50px auto;
    background: rgb(64, 198, 211);
    border-radius: 7px;
}
li {
    list-style: none;
}
button {
    padding: 7px;
    font-size: 20px;
    width: 100%;
}